<% @states.each do |abb, name| %>
<!-- <nav id="admin-nav"> -->
  <!-- <div class="admin-container"> -->
    <%= link_to name, "/#{abb}", class: "state-link" %>
  <!-- </div> -->
<!-- </nav> -->
<% end %>
