.show-container {
  margin: auto;
  width: 640px;
}

.show-top-info {
  margin-bottom: 20px;
}

.show-office-info {
  margin-top: 20px;
}

.show-office-info span {
  font-weight: normal;
}

.show-office-doctors {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.office-doctor-info {
  margin-bottom: 10px;
}
